In [6]:
import plotly.express as px
import pandas as pd
df=pd.read_csv(r"C:\Users\Hedi\Downloads\titanic-passengers.csv", sep=";")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Cabin"].fillna("G6",inplace=True)
df["Embarked"].fillna("G6",inplace=True)

In [15]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [17]:
x=data[['Sex','Age','Pclass',"SibSp",'Fare',]]
y= data["Survived"]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)
dtree= tree.DecisionTreeClassifier(criterion ='gini',splitter = 'random', max_leaf_nodes=10, min_samples_leaf=5,max_depth=4)
dtree.fit(x_train, y_train)
y_pred=dtree.predict(x_test)
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.8044692737430168

In [22]:
from sklearn.tree import export_graphviz
import graphviz
dot_data= tree.export_graphviz(dtree, out_file=None,feature_names=x_train.columns,
                                filled=True)
graph = graphviz.Source(dot_data)
graph.render('data')
graph

ModuleNotFoundError: No module named 'graphviz'

In [23]:
x1=data[['Sex','Fare','Pclass','PassengerId','Parch']]
y1= data["Survived"]

x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1, test_size=0.20,random_state=10)
dtree1= tree.DecisionTreeClassifier(criterion ='gini',splitter = 'random', max_leaf_nodes=10, min_samples_leaf=5,max_depth=5)
dtree1.fit(x1_train, y1_train)
y1_pred=dtree1.predict(x1_test)
print("score1:{}".format(accuracy_score(y1_test, y1_pred)))

score1:0.770949720670391

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

x3=data[['Sex','Age','Pclass','FamilySize','Fare']]
y3= data["Survived"]

x3_train, x3_test, y3_train, y3_test = train_test_split(x3,y3, test_size=0.20,random_state=10)

clf=RandomForestClassifier(n_estimators=10)
clf.fit(x3_train, y3_train)
y3_pred=clf.predict(x3_test)
print("Accuracy:", metrics.accuracy_score(y3_test, y3_pred))

Accuracy: 0.8268156424581006